.field {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed blue;
  margin: 2rem auto 1rem;
}

.field:after {
  content: '';
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background-color: rebeccapurple;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
}

.field:focus-within::after {
  transform: scaleX(1);
}

.Input {
  outline: none;
  border: none;
  overflow: hidden;
  background-color: transparent;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  font-size: 1.2rem;
}

.Input:invalid {
  box-shadow: none;
}

.Input:placeholder-shown {
  border-right: 5px solid red;
}

.Input:valid {
  color: green;
}

.Input:invalid {
  color: red;
}

.Label {
  z-index: -1;
  top: 2.4rem;
  left: 0;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
  font-size: 1.2rem;
}

.field:focus-within .Label {
  transform: scale(0.8) translateY(-5rem);
}

.Input:not(::placeholder-shown) + .Label {
  transform: scale(0.8) translateY(-5rem);
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  gap: 0.45rem;
}

@media screen and (min-width: 700px) {
  form {
    max-width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  form {
    max-width: 20%;
  }

  input[type='text'],
  input[type='password'] {
    font-size: 1.5rem;
  }
}
