@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: "Ubuntu", sans-serif;
=======
  font-family: 'Ubuntu', sans-serif;
>>>>>>> cc183f9263a14fe5c75356459b688f648d377930
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}
<<<<<<< HEAD
=======

h1,
h2,
h3,
h4 {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
}
>>>>>>> cc183f9263a14fe5c75356459b688f648d377930
